*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    cursor: pointer;
    ;
}

a:hover{
    color: rgb(255, 230, 0);
    background-color: rgb(52, 89, 255);
}

/* Header */

header{
    display: flex;
    background-color: rgb(252, 227, 0);
    height: 75px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header ul{
    display: flex;
    gap: 10px;
}

header li{
    display: flex;
}

header img{
    height: 100%;
}

/* Main */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 125px);
    text-align: center;
    padding: 25px 10vw;
    background-color: darkgray;
    font-size: 24px;
    font-family: "Manrope", sans-serif;
}

.image-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: center; 
    margin-bottom: 20px;
    margin-top: 20px;
}

.titulo{
    font-size: 30px;
}

/* Footer */

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 17, 252);
    height: 50px;
    color: white;
}

