* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

a:hover {
    color: yellow;
}

/* Header */

header {
    display: flex;
    background-color: rgb(13, 16, 61);
    height: 75px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header ul {
    display: flex;
    gap: 10px;
}

header li {
    display: flex;
}

header img {
    height: 100%;
}

header a {
    color: white;
    text-decoration: none;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 125px);
    text-align: center;
    padding: 25px 10vw;
    background-color: rgb(43, 43, 43);
    color: white;
    font-size: 15px;
    font-family: "Manrope", sans-serif;
}

.estilo1 {
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center
}

.tardis {
    background-image: url(../images/tardis.jpg);
    background-position: center center;
    background-size: cover;
    color: white;
}

.welcome {
    background-image: url(../images/dalek.jpg);
    background-position: center center;
    background-size: cover;
    color: white;
}

.galaxia {
    background-image: url(../images/galaxia.webp);
    background-position: center center;
    background-size: cover;
}

h2{ 
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.personajes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

.explicaciones{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

.imge{
    float: left;
}

.doctores {
    margin: 10px;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}

.container {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form {
    width: 670px;
    height: auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    flex-wrap: wrap;
}

.container form h1 {
    color: white;
    font-weight: 700;
    line-height: 2;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.container form input {
    width: 300px;
    height: 50px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    margin-top: 10px;
    background: none;
    border-bottom: 2px solid white;
    color: white;
}

.container form input::placeholder {
    color: white;
}

.container form #apellido,
.container form #mobile {
    margin-left: 20px;
}

.container form h2 {
    color: white;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.container form textarea {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    font-weight: 200;
    font-size: 20px;
    padding: 10px;
    outline: none;
    width: 90%;
    height: 100px;
    resize: none;
    color: white;
    margin-top: 20px;
}

.container form h2 {
    font-size: 20px;
}

.container form #button {
    border: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    width: 200px;
    height: 60px;
    padding: 0;
    margin-bottom: 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.container form #button:hover {
    background-color: black;
    color: white;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(13, 16, 61);
    height: 50px;
    color: white;
}