* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.ej1 div {
    background-color: aqua;
    display: inline;
}

.ej1 span {
    background-color: blueviolet;
    display: block;
}

.ej2 div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.ej2 div:nth-child(1) {
    background-color: coral;
}

.ej2 div:nth-child(2) {
    background-color: gold;
}

.ej2 div:nth-child(3) {
    background-color: firebrick;
}

.ej2-1 div:nth-child(2) {
    display: none;
}

.ej2-2 div {
    display: inline-block;
}

.ej3 header {
    background-color: rgb(252, 227, 0);
    height: 75px;
}

.ej3 header ul {
    display: inline;
    list-style: none;
    position: absolute;
    top: 28px;
    right: 20px;
}

.ej3 header li {
    display: inline;
}

.ej3 header li a{
    cursor: pointer;;
}

.ej3 header li a:hover {
    color: rgb(17, 0, 255)
}

.ej3 header img {
    height: 100%;
}

.ej3 main{
    min-height: calc(100vh - 125px);
    text-align: center;
}

.ej3 main img {
    width: 50vw;
}

.ej3 footer {
    padding-top: 15px;
    background-color: rgb(0, 160, 252);
    height: 50px;
    text-align: center;
}