* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Header */
.header {
    background: url(../img/header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    height: 75px;
    justify-content: space-around;
    align-items: center;
    font-family: "Bangers";
    font-size: 25px;
}

header ul {
    display: flex;
    gap: 200px;
    align-items: center;
}

header li {
    display: flex;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
}

header .login img {
    width: 28px;
    height: auto;
    display: block;
}

header img, header a {
    height: 100%;
}

/* SUBMEN칔S */
header ul li {
    position: relative;
    /* necesario para posicionar los dropdown */
}

header ul li ul {
    display: none;
    /* oculto por defecto */
    position: absolute;
    top: 100%;
    /* debajo del li padre */
    left: 0;
    background: #745c4d;
    list-style: none;
    padding: 10px 0;
    min-width: 220px;
    border-radius: 0 0 8px 8px;
    z-index: 1000;
    flex-direction: column;
    /* forzar vertical */
    gap: 0;
    /* eliminar el gap horizontal que hereda */
}

header ul li ul li {
    display: block;
}

header ul li ul a {
    display: block;
    padding: 10px 15px;
    font-size: 18px;
    /* m치s peque침o que el men칰 principal */
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

header ul li ul a:hover {
    background: rgba(255, 255, 255, 0.15);
}

/* Mostrar submen칰 al pasar el rat칩n */
header ul li:hover>ul {
    display: flex;
}

/* Buscador animado */
.search-form {
    position: relative;
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.search-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 20px;
    border-radius: 20px;
    padding: 0 20px;
}

.search-form .fa {
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 20px;
    transition: all 1s;
}

.search-form:hover {
    width: 200px;
    cursor: pointer;
}

.search-form:hover .search-input {
    display: block;
}

.search-form:hover .fa {
    background: #07051a;
    color: white;
}


main {
    background-color: #5D4230;
}

.inicio {
    font-family: "Bangers";
    font-size: 100px;
    position: absolute;
    top: 40%;
    left: 10%;
    letter-spacing: 2px;
    line-height: 115px;
    display: flex;
    flex-direction: column;
    /* texto arriba, bot칩n abajo */
    align-items: flex-start;
    /* alineados a la izquierda */
    gap: 20px;
    /* espacio entre texto y bot칩n */
}

.boton {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0;
    margin-left: 200px;
    padding: 5px 30px;
    /* menos alto, mismo ancho */
    background-color: #CF5B4A;
    font-size: 20px;
    border-radius: 10px;
    /* bordes redondeados */
    text-align: center;
    transition: background-color 0.3s ease;
    text-decoration: none;
    /* sin subrayado */
    color: black;
    /* texto visible */
    font-weight: bold;
    display: inline-block;
    /* respeta el tama침o como bot칩n */
}

a .boton {
    text-decoration: none;
    display: inline-block;
    /* asegura que respete padding y bordes */
}

.boton:hover {
    background-color: #e57365;
    /* m치s claro al pasar el mouse */
}


.fondo {
    background-image: url(../img/main.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* 拘勇 apila verticalmente */
    align-items: center;
    min-height: calc(100vh - 75px);
    /* 拘勇 ocupa al menos la pantalla completa */
    padding: 40px 0;
    /* opcional: espacio arriba y abajo */
}

.contenedor-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto 50px auto;
    /* deja espacio antes del grid */
    height: auto;
    /* que se ajuste al contenido */
    position: relative;
}


.inicio {
    font-family: "Bangers";
    font-size: 80px;
    letter-spacing: 2px;
    line-height: 95px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    /* ya no absolute */
    top: 0;
    left: 50px;
    flex: 1;
    /* ocupa la mitad izquierda */
}

.banner {
    flex: 1;
    /* ocupa la mitad derecha */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


/*carrousel*/
@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

.banner {
    width: 100%;
    height: 85vh;
    text-align: center;
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: center;
    /* 游댐 centrado horizontal */
    align-items: center;
    /* 游댐 centrado vertical */
}

.banner .slider {
    position: relative;
    width: 200px;
    height: 250px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;

    margin-bottom: 80px;
    /* 游댐 s칰belo unos cm (ajusta el valor a gusto) */
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }

    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    transform:
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(350px);
    /* m치s peque침o, ya no se corta */
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.banner .content h1 {
    font-family: 'ICA Rubrik';
    font-size: 16em;
    line-height: 1em;
    color: #25283B;
    position: relative;
}

.banner .content h1::after {
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}

.banner .content .author {
    font-family: Poppins;
    text-align: right;
    max-width: 200px;
}

.banner .content h2 {
    font-size: 3em;
}

.banner .content .model {
    background-image: url(images/model.png);
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}

@media screen and (max-width: 1023px) {
    .banner .slider {
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }

    .banner .slider .item {
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(300px);
    }

    .banner .content h1 {
        text-align: center;
        width: 100%;
        text-shadow: 0 10px 20px #000;
        font-size: 7em;
    }

    .banner .content .author {
        color: #fff;
        padding: 20px;
        text-shadow: 0 10px 20px #000;
        z-index: 2;
        max-width: unset;
        width: 100%;
        text-align: center;
        padding: 0 30px;
    }
}

.iniciosesion {
    background-image: url(../img/iniciosesion.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* El pergamino se ve completo */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 75px - 50px);
    /* Ocupa toda la pantalla */
}

.container.login {
    display: flex;
    flex-direction: column;
    /* primero el t칤tulo, luego el formulario */
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 500px;
}

/* Formulario centrado */
.login-form {
    width: 100%;
    max-width: 420px;
    padding: 40px 20px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Campos de entrada */
.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    max-width: 300px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    outline: none;
    text-align: center;
}

/* Bot칩n */
.login-form input[type="submit"] {
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    width: 200px;
    height: 55px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: "Bangers";
    letter-spacing: 2px;
}

.login-form input[type="submit"]:hover {
    background-color: #CD5C4E;
    color: white;
}

.enlace a {
    text-decoration: none;
    font-family: sans-serif;
    color: gray;
    font-style: italic;
}

.enlace a:hover {
    color: black;
}

/* Registro */
.registro {
    background-image: url(../img/iniciosesion.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* se ve completo el pergamino */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height:  calc(100vh - 75px - 50px);
    /* ocupa toda la pantalla menos el header */
}

.container.register {
    display: flex;
    flex-direction: column;
    /* t칤tulo arriba, formulario abajo */
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 500px;
}

/* ---------- LOGIN ---------- */
.titulo-sesion {
    position: absolute;
    top: -155px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 700;
    font-family: "Bangers";
    letter-spacing: 2px;
    font-size: 28px;
    margin: 0;
}

.login-form {
    width: 100%;
    max-width: 420px;
    padding: 40px 20px 20px;
    border-radius: 15px;
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* ---------- REGISTRO ---------- */
.register-form {
    width: 100%;
    max-width: 670px;
    padding: 40px 20px 20px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/* T칤tulo registro (igual estilo que login, solo diferente posici칩n) */
.register-form h1 {
    position: absolute;
    top: -50px;
    /* ajusta seg칰n la imagen del pergamino */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 700;
    font-family: "Bangers";
    letter-spacing: 2px;
    font-size: 28px;
    margin: 0;
}

/* ---------- CAMPOS ---------- */
.login-form input[type="email"],
.login-form input[type="password"],
.register-form input {
    width: 300px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    outline: none;
    text-align: center;
}

.register-form input[type="date"] {
    color-scheme: dark;
}

/* ---------- BOTONES ---------- */
.login-form input[type="submit"],
.register-form input[type="submit"] {
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    width: 200px;
    height: 55px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: "Bangers";
    letter-spacing: 2px;
}

.register-form input[type="submit"] {
    font-size: 24px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.login-form input[type="submit"]:hover,
.register-form input[type="submit"]:hover {
    background-color: #CD5C4E;
    color: white;
}

/* ---------- EFECTOS ---------- */
form :focus-within {
    background-color: rgba(128, 128, 128, 0.137);
    border-radius: 5px;
}

input:placeholder-shown:not(:focus) {
    background-color: rgba(119, 119, 119, 0.349);
    color: white;
}

/*Grid*/

#mainbody {
    background-image: linear-gradient(#efeff5, #fff);
    height: 100vh;
}

/* Navbar */
.navbar {
    height: 80px;
}

.navbar .logo a {
    font-size: 1.9rem;
    font-weight: bold;
}

.navbar .logo span {
    font-weight: 200;
}

.navbar a {
    color: #47519a;
    font-weight: 500;
    font-size: 0.8rem;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.mainnavbar {
    background: #efeff5;
}

/* Main Grid */
#maingrid {
    width: 90%;
    margin-bottom: 30px;
}

#maingrid .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.maingrid-box {
    position: relative;
    /* necesario para el overlay */
    display: flex;
    justify-content: flex-start;
    /* texto a la izquierda */
    align-items: flex-end;
    padding: 80px 20px 20px 20px;
    font-size: 1.1rem;
    font-weight: 400;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

/* Overlay blanco transl칰cido */
.maingrid-box::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.171);
    z-index: 1;
    border-radius: 10px;
}

.maingrid-box a {
    position: relative;
    z-index: 2;
    color: #000000;
    text-decoration: none;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
}

#maingrid .box-1 {
    background: url(../img/essen\ 2025.jpg);
    grid-column: 1/3;
    grid-row: 1/3;
}

#maingrid .box-2 {
    background: url(../img/essen\ expansiones.webp);
    grid-column: 3/4;
    grid-row: 1/2;
}

#maingrid .box-3 {
    background: url(../img/flamecraftduals.avif);
    grid-column: 3/4;
    grid-row: 2/3;
}

#maingrid .box-4 {
    background: url(../img/mistborn.png);
    grid-column: 3/4;
    grid-row: 3/4;
}

#maingrid .box-5 {
    background: url(../img/villanous.jpg);
    grid-column: 1/2;
    grid-row: 3/4;
}

#maingrid .box-6 {
    background: url(../img/critterkitchen.jpg);
    grid-column: 2/3;
    grid-row: 3/4;
}

#maingrid .box-1,
#maingrid .box-5,
#maingrid .box-6 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Contacto*/
.contacto-bg {
    background-image: url(../img/iniciosesion.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* El pergamino se ve completo */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height:  calc(100vh - 75px - 50px);
    /* Ocupa toda la pantalla menos el header */
}

/* Contenedor centrado */
.container.contacto {
    display: flex;
    flex-direction: column;
    /* t칤tulo arriba, formulario abajo */
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 500px;
}

/* Formulario */
.contacto-form {
    width: 100%;
    max-width: 420px;
    padding: 40px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* T칤tulo */
h1 {
    color: white;
    font-weight: 700;
    font-family: "Bangers";
    letter-spacing: 2px;
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}

/* Inputs */
.contacto-form input,
.contacto-form textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 300px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    outline: none;
    text-align: center;
}

.contacto-form textarea {
    height: 100px;
    resize: none;
    text-align: left;
    /* el textarea mejor alineado al escribir */
}

/* Bot칩n */
.contacto-form #button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    width: 200px;
    height: 55px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: "Bangers";
    letter-spacing: 2px;
}

.contacto-form #button:hover {
    background-color: #CD5C4E;
    color: white;
}


/* Novedades */
.game-card {
    max-width: 900px;
    margin: 0 auto 40px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.game-card h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
}

.game-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.game-image img {
    max-width: 300px;
    width: 100%;
    border-radius: 8px;
}

.game-details {
    flex: 1;
    min-width: 250px;
}

.game-details table {
    width: 100%;
    border-collapse: collapse;
}

.game-details th, .game-details td {
    text-align: left;
    padding: 6px 8px;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
}

.game-details th {
    font-weight: bold;
    width: 40%;
}

.game-description p {
    margin-bottom: 15px;
    line-height: 1.6;
}


/* Footer */

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #5D4230;
    height: 50px;
    color: white;
    font-family: "Manrope", sans-serif;
}