* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.padre {
    width: 500px;
    height: 500px;
    background-color: burlywood;
    border: 2px solid black;
    margin-left:  40%;
    margin-right: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 50px;
}

.hijo {
    width: 50%;
    height: 50%;
    background-color: rgb(253, 163, 253);
    border: 2px dashed rgba(248, 2, 2, 0.514);
    margin: 25% auto;
}

.hijo2 {
    width: 25%;
    height: 25%;
    background-color: rgb(9, 183, 252);
    border: 2px dotted black;
    margin: -250px auto;
}